body {
    font-family: 'Comic Sans MS', cursive;
}

#calendar {
    font-size: 20px;
}

.checklist {
    border: 2px solid #000;
    padding: 10px;
    margin-top: 20px;
    width: 400px !important;
    background-color: #fff;
    border-radius: 8px;
}

.checklist div {
    font-size: 16px;
}

.strikethrough {
    text-decoration: line-through;
}

.flatpickr-calendar {
    font-family: 'Comic Sans MS', cursive;
    width: 400px !important;
}
